services:
  studio:
    environment:
      # Overrides the default or .env specific SUPABASE_PUBLIC_URL with Coolify's generated FQDN
      SUPABASE_PUBLIC_URL: ${SERVICE_FQDN_KONG}

  auth:
    environment:
      # Overrides the external URL for redirects to match the Coolify generated FQDN
      API_EXTERNAL_URL: ${SERVICE_FQDN_KONG}

  vector:
    volumes:
      - ./volumes/logs/vector.yml:/etc/vector/vector.yml:ro,z
      - '/var/run/docker.sock:/var/run/docker.sock:ro'
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:9001/health"]
      timeout: 5s
      interval: 5s
      retries: 3